.dashboard{
    height: 89vh;
    background-color: #ECEFF1;
 }

.main{
    background-color: white;    
    //padding: 6px;
}
.summary{
    background-color: white;  
   // padding: 6px;
}

  .gradient{
    background-color: white
}
.detail{
    background-color: white;    
    height: 75px;
}

.wel{
    font-weight: bolder;
    color: #253238;
   
}
.name1{
    color: blue;
}

.card-header{
    padding: 0px !important;
}
 .bocard-body{
    padding: 5px 15px 0px 20px;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #F4F4F5
     }
 
 .table-striped tbody tr:nth-of-type(even){
         background-color: #F5FBFF
          }
        .evnt{

            color: #157DEC;
            margin-left: 10px;
            font-weight: bold;
            font-size:large;
            
            }
            .headone{
                height: 10px!important;
                background-color: #90A4AE;
                color: white;
            }
            
            th ,td {
    border-right: 1px solid white;
    // color: white;
}
.hr{
    color: #AFBEC6;
    margin-left: 108px;
}
.img{
    width: 26px;
}
.replace{
background-color: #AFBEC6;
color: white;
width: 106%;
    height: 32px;
    line-height: 1px;
    margin-left: 71px;
}
.job{
    height: 32px;
    line-height: 1px;
    width: 150px;
}
.head{
    background-color:#8EA3AF;
    //height: 39px;
    margin: 0px 6px 0px 6px;
}

.apply{
    background-color: #AFBEC6;
    color: white;
    height: 30px;
    line-height: 1px;
}
.square{
    background-color: #5632FF;
    //width: 83px;
    height: 38px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    font-size: x-large;
}
.square1{
    background-color: #00E35B;
   // width: 83px;
    height: 38px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    font-size: x-large;
}
.square2{
    background-color: #DF0058;
    //width: 83px;
    height: 38px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    font-size: x-large;
    
}
.complete{
    font-weight: bold;
    color: white;
}

.box{
    width: 167px;
    color: #AFBEC6;
}
.for{
    color: #AFBEC6;
}
.bookmark{
    color: red;
}
.search{
    width: 490px;
    height: 33px;
    margin-top: 3px;
    border-radius: 6px;
    padding: 23px,6px,4px,5px;
    font-size: smaller;
}

.note{
    color:#6F838C;
    border-radius: 5px;
    padding: 11px 55px 5px 0px;
    border-color: #CCD8DD;
    background-color: white;
    width: 314px;
}
.nam_e{
    text-align: end;
}
.notice{
  
    margin-top: 9px;
}
.dept{
    width: 314px;
    color:#6F838C;
    border-radius: 5px;
    padding: 11px 55px 5px 0px;
    border-color: #CCD8DD;
    background-color: white;
}
.tick{
    display: inline-block;
    color:#ACBEC6;
   
    
   }
.add{
    background-color: #ACBEC6;
    margin-left: 10px;
    width:65px;
    color:white;
}
.des{
    border: 1px solid #CCD8DD;
    border-radius: 3px;
    height: 152px;
}
.draw{
    border: 1px solid #CCD8DD;
    border-radius: 3px;
    height: 30px;
    background-color: #E8E7E8;
}
.left_chip {
    font-size: 13px;
    background-color: #EBEFF1;
    padding: 2px 9px 8px 9px;
    color: #536D77;
    border-radius: 15px;
    display: inline-block;
    margin-right: 15px;
    }
    .clip{
    background-color:white;
    border: 1px solid #CCD8DD;
    border-radius: 3px;
    }
    .line{
        border-bottom: 1px solid gray;
        margin-top: 20px;
      
    }
    // :host ::ng-deep .pi-times{
    //     display: none;
    //   } 
      .report{
        color: blue;
        font-size: larger;
       
      }
      .info{
          color: white;
        background-color: blue;
        width: 180px;
    }
    .submit{
        color: white;
        background-color: blue;
        width: 150px;

    }
    .preview{
        color: gray;
        background-color: #ACBEC6;
        width: 150px;

    }
    .cancel{
        color: gray;
        background-color: white;
        width: 150px;

    }
    .replace{
        color:gray;
    }
    :host ::ng-deep.ui-dialog-content {
        height: 357.25px;
        overflow-y: scroll !important;
    }
    
