<div class="dashboard">
    <div class="card_size">
        <div class="row px-3">
            <div class="col-sm-1 col-md-1 col-lg-1">
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10 my-3">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                            <div class=" col-sm-5 px-3">
                                <div class="main">
                                    <span class="wel pl-1">Welcome:</span><span class="name1 pl-1">Archana
                                        Naikwadi</span>
                                    <span class="hr">HR</span>
                                    <img class="img pl-1" src="../../../assets/logo/user 1.png" alt="">
                                </div>
                            </div>
                            <div class="col-sm-7 summary">
                                <div class="row">
                                    <div class="col-sm-2 pt-1"><span class="wel">Summary:</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-sm-1 pt-1 for">
                                                From:
                                            </div>
                                            <div class="col-sm-1 pt-1">
                                                    <input type="date" autocomplete="off"
                                                    class="box"> 
                                                   <!-- <span> <img class="img pl-2" src="../../../assets/calander.png" alt=""></span> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row for">
                                            <div class="col-sm-2 pt-1 pl-3">
                                                To:
                                            </div>
                                            <div class="col-sm-10">
                                                    <div class="col-sm-10 pt-1">
                                                            <input type="date" autocomplete="off"
                                                            class="box"> 
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2"><button type="submit" class="btn apply">Apply</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 px-3">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="main">
                                    <img class="img1 ml-1" src="../../../assets/reports.png" alt="">

                                    <span class="wel ml-2">Reports</span>
                                </div>
                            </div>
                            <div class="col-sm-6 main">
                                <img class="img2 ml-1" src="../../../assets/notification (2).png" alt="">
                                <span class="wel ml-2">Notifications</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="my-2 mr-auto">
                                <img class="img my-2 ml-2" src="../../../assets/user big.png" alt="">
                                <span class="evnt">Latest Openings</span>
                            </div>
                            <div class="my-2 mr-2">
                                <div class="input-group">
                                    <input type="text" placeholder="Search Employees,designations,jobs,job ID...">
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body my-1">
                        <div class="row my-2">
                            <div class="col-sm-7"></div>
                            <div class="col-sm-2"><button type="submit" class="btn replace">Replacement</button>
                            </div>
                            <div class="col-sm-2"><button type="submit" class="btn btn-primary job">Create New
                                    Job</button>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="row head">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-7">
                                <div class="row">
                                    <div class="col-sm-2 pt-1 complete">Completed</div>
                                    <div class="col-sm-2">
                                        <div class="square text-centre">012</div>
                                    </div>
                                    <div class="col-sm-2 pt-1 complete">Inprogress</div>
                                    <div class="col-sm-2">
                                        <div class="square1 text-centre">012</div>
                                    </div>
                                    <div class="col-sm-2 pt-1 complete">On Hold</div>
                                    <div class="col-sm-2">
                                        <div class="square2 text-centre ml-3">012</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <table class="table table-striped" style="margin: auto; width: 99%;">
                            <thead>
                                <tr class="headone">
                                    <th align="center" scope="col">Sr.</th>
                                    <th align="center" scope="col">Openings</th>
                                    <th align="center" scope="col">Job ID</th>
                                    <th align="center" scope="col">Applies</th>
                                    <th align="center" scope="col">Seen</th>
                                    <th align="center" scope="col">Proceed Further</th>
                                    <th align="center" scope="col">Bookmarked</th>
                                    <th align="center" scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row" class="name">01</td>
                                    <td class="name">Java Lead</td>
                                    <td align="center" class="blue text-primary">JVL0145</td>
                                    <td align="center" class="name">05</td>
                                    <td align="center" class="name">03</td>
                                    <td align="center" class="red">07</td>
                                    <td align="center" class="red bookmark">07</td>
                                    <td align="center" class="red">28-12-2019</td>
                                </tr>
                                <tr>
                                    <td scope="row" class="name">01</td>
                                    <td class="name">Java Lead</td>
                                    <td align="center" class="blue text-primary">JVL0145</td>
                                    <td align="center" class="name">05</td>
                                    <td align="center" class="name">03</td>
                                    <td align="center" class="red">07</td>
                                    <td align="center" class="red bookmark">07</td>
                                    <td align="center" class="red">28-12-2019</td>
                                </tr>
                            </tbody>

                        </table>
                        <div class="text-right">
                            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">
            </div>
        </div>