<div class="full-width">
        <!-- <img class="img" src="../../../assets/logo.jpg" > -->
        <p-card class="register_card">
        <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="my-2">
        <img class="img" src="../../../assets/logo_cmp.svg">
        </div>
        <div class=" input-group my-3 form-group">
        <input type="text" autocomplete="off" formControlName="firstname"
        placeholder="First Name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
        <div *ngIf="f.firstname.errors.required">First Name is required</div>
        <div *ngIf="f.firstname.errors.pattern">Space Not Allowed</div>
        </div>
        </div>
        <div class="input-group my-3 form-group">
        <input type="text" formControlName="lastName" placeholder="Last Name"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        <div *ngIf="f.lastName.errors.pattern">Space Not Allowed</div>
        </div>
        </div>
        <div class="form-group">
        <input type="text" autocomplete="off" class="form-control" formControlName="email"
        placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
        </div>
        
        <div class="form-group">
        <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4 col-12">
        <select id="user_time_zone" class="form-control code" size="0"
        formControlName="areacode" placeholder="Area Code">
        <option value="Hawaii" SS>(GMT-10:00) Hawaii</option>
        <option value="Alaska">(GMT-09:00) Alaska</option>
        <option value="Pacific Time (US &amp; Canada)">(GMT-08:00)
        Pacific Time (US &amp; Canada)</option>
        <option value="Arizona">(GMT-07:00) Arizona</option>
        <option value="Mountain Time (US &amp; Canada)">(GMT-07:00)
        Mountain Time (US &amp; Canada)</option>
        <option value="Central Time (US &amp; Canada)"
        selected="selected">(GMT-06:00) Central Time (US &amp;
        Canada)</option>
        <option value="Eastern Time (US &amp; Canada)">(GMT-05:00)
        Eastern Time (US &amp; Canada)</option>
        <option value="Indiana (East)">(GMT-05:00) Indiana (East)
        </option>
        </select>
        <!-- <input type="password" autocomplete="off" class="form-control code" formControlName="areacode"
        placeholder="Area Code"> -->
        </div>
        <div class="col-sm-8 col-lg-8 col-md-8 col-12">
        <input type="phoneno" autocomplete="off" class="form-control"
        formControlName="phoneno" placeholder="Phone Number"
        [ngClass]="{ 'is-invalid': submitted && f.phoneno.errors }" />
        <div *ngIf="submitted && f.phoneno.errors" class="invalid-feedback">
        <div *ngIf="f.phoneno.errors.required">Phone No required </div>
        <div *ngIf="f.phoneno.errors.pattern">phone number is not proper
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="form-group">
        <input type="password" autocomplete="off" class="form-control"
        formControlName="password" placeholder="Password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password must be at least 8 characters
        </div>
        <div *ngIf="f.password.errors.pattern">password must Special char, digit, uppercase, lowercase</div>
        </div>
        </div>
        <div class="form-group">
        <input type="password" autocomplete="off" class="form-control"
        formControlName="confpassword" placeholder="Confirm Password"
        [ngClass]="{ 'is-invalid': submitted && f.confpassword.errors }" />
        <div *ngIf="submitted && f.confpassword.errors" class="invalid-feedback">
        <div *ngIf="f.confpassword.errors.required">Confirm Password is required
        </div>
        <div *ngIf="f.confpassword.errors.mustMatch">Passwords must match</div>
        </div>
        </div>
        <div class="row sign_up">
        <button [disabled]="spinner" class="my-4 btn btn-primary">Signup</button>
        </div>
        <div class="pull-center">
        <span class="pull-left">
        <a routerLink="/login">Already a user?</a>
        </span>
        </div>
        </form>
        </p-card>
        </div>