<div class="dashboard">
        <button type="button" class="btn info my-3 mr-4"
        (click)="PersonalInfo()">Personal Information</button>


        <p-dialog [modal]="true" header='' (onHide)="onClose()" [scrollTop]='0' [blockScroll]="true" [(visible)]="display" header="Create New Employee" [style]="{width: '75%', height: '460px'}">
                <form class="group grp_form " [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
                              <div class="row my-2">
                                <div class="col-sm-6 col-lg-6 col-md-6">  
                                  <label class="first">First Name</label>
                                  <input type="text" autocomplete="off" class="form-control text-centre" placeholder=""
                                      name="firstname" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                              <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                              <div *ngIf="f.firstName.errors.pattern">Space Not Allowed</div>
                                       </div>
                              </div>
                             
                                  <div class="col-sm-6 col-lg-6 col-md-6">  
                                  <label class="first">Last Name</label>
                                  <input type="text" autocomplete="off" class="form-control text-centre" placeholder=""
                                      name="lastname" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                              <div *ngIf="f.lastName.errors.pattern">Space Not Allowed</div>
                                       </div>
                              </div>
                            </div>
                                  <div class="row my-2">
                                          <div class="col-sm-6 col-lg-6 col-md-6">
                                                  <label class="first">Title</label>
                                                  <input type="text" autocomplete="off" class="form-control text-centre" placeholder=""
                                                      name="title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                                      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                                              <div *ngIf="f.title.errors.required">Title required</div>
                                                          
                                                       </div>
                                              </div>
          
                                  <div class="col-sm-6 col-lg-6 col-md-6">
                                  <label class="first">Email</label>
                                  <input type="text" autocomplete="off" class="form-control text-centre" placeholder=""
                                      name="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                              <div *ngIf="f.email.errors.required">Email required</div>
                                          
                                       </div>
                              </div>
                              
                                 
                              </div>
                              
                              <div class="row my-2">
                              <div class="col-sm-6 col-lg-6 col-md-6">
                                  <label class="first">Date of Birth</label>
                                  <input type="date" autocomplete="off" class="form-control text-centre" placeholder=""
                                      name="DOB" formControlName="dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                                      <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                                              <div *ngIf="f.dob.errors.required">Date of birth required</div>
                                       </div>
                              </div>
                              <div class="col-sm-6 col-lg-6 col-md-6">
                                      <label class="first">Phone no</label>
                                      <input type="text" autocomplete="off" class="form-control text-centre" placeholder=""
                                          name="phoneno" formControlName="phoneNo" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }">
                                          <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                                                  <div *ngIf="f.phoneNo.errors.required">Phone No required</div>
                                          
                                           </div>
                                       
                                           </div>
                              </div>
                              <div class="row my-2">
                                      <div class="col-sm-6 col-lg-6 col-md-6">
          
                                              <label class="first">ID Information</label>
                                              <select id="user_time_zone" class="form-control code" size="0"
                                                                       formControlName="ID" placeholder="Area Code">
                                                                       <option ></option>
                                                                       <option >Passport</option>
                                                                       <option >PAN Card</option>
                                                                       <option >Adhar Card</option>
                                                                       <option >Driving Lincese</option>
                                                                       <option >Voter ID</option>
                                                                       
                                                                </select>
                                  
                                          </div>
                              <div class="col-sm-6 col-lg-6 col-md-6">
                                      <label class="first">ID No</label>
                                      
                                      <input type="text" autocomplete="off" class="form-control text-centre" placeholder=""
                                          name="IDNo" formControlName="idno"  [ngClass]="{ 'is-invalid': submitted && f.idno.errors }">
                                          <div *ngIf="submitted && f.idno.errors" class="invalid-feedback">
                                                  <div *ngIf="f.idno.errors.required">ID required</div>
                                           </div>
                                  </div>
                              </div>
                              
                              <div class="form group my-4 text-centre btno">
                                      <button type="submit" class="btn btn-primary regis ">SAVE</button>
                                  </div>
                          </form>
              </p-dialog>
    </div>