<div class="dashboard">
        <div class="row">
                <div class="col-sm-1 col-lg-1 col-md-1"></div>
                <div class="col-sm-10 col-lg-10 col-md-10">
                        <button type="button" class="btn  btn-primary info my-3 ml-4" (click)="PersonalInfo()">Add
                                Employee</button>
                        <div class="card" *ngIf="displaylist">
                                <div class="card-header">
                                        <div class="d-flex">
                                                <div class="my-2 mr-auto">
                                                        <span class="evnt">Employee List</span>
                                                </div>
                                                <div class="my-2 mr-2">
                                                        <div class="input-group">
                                                                <input type="text" class="form-control"
                                                                        [(ngModel)]="term"
                                                                        placeholder="Search Employee">
                                                                <div class="input-group-append">
                                                                        <button class="btn btn-secondary serachbtn"
                                                                                type="button">
                                                                                <i class="fa fa-search"></i>
                                                                        </button>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                </div>
                                <div class="card-body my-1">

                                        <table class="table table-striped my-2" style="margin: auto; width: 85%;">
                                                <thead>
                                                        <tr class="headone">
                                                                <th>NO</th>
                                                                <th align="center" scope="col">First Name</th>
                                                                <th align="center" scope="col">Last Name</th>
                                                                <th align="center" scope="col">Email</th>
                                                                <th align="center" scope="col">Phone No.</th>
                                                                <th align="center" scope="col">Title</th>
                                                                <th align="center" scope="col">Action</th>

                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <tr
                                                                *ngFor="let user of infodetail | filter:term | paginate: configer; let i = index">

                                                                <td scope="row" class="name">{{i+1}}</td>
                                                                <td class="name">{{user?.firstName}}</td>
                                                                <td align="center" class="blue">{{user?.lastName}}</td>
                                                                <td align="center" class="name" style="color: red">
                                                                        {{user?.email}}</td>
                                                                <td align="center" class="name">{{user?.phoneNo}}</td>
                                                                <td align="center" class="red" style="color: blue">
                                                                        {{user?.title}}</td>
                                                                <td align="center" class="red" style="color: blue">
                                                                        <i class="pi pi-pencil mr-2"
                                                                                (click)="EditEmployee(i)"></i>
                                                                        <i class="pi pi-trash ml-2"
                                                                                (click)="DeleteEmployee(user?.email)"></i>
                                                                </td>

                                                        </tr>



                                                </tbody>

                                        </table>
                                        <div class="text-right">
                                                <pagination-controls (pageChange)="pageChanged($event)">
                                                </pagination-controls>
                                        </div>
                                </div>
                        </div>

                        <p-dialog [modal]="true" header='' (onHide)="removeSkill()" [scrollTop]='0' [blockScroll]="true"
                                [(visible)]="display" [style]="{width: '100%'}">
                                <p-header class="dialogHeader mt-2">
                                        <div class="d-flex">
                                                <div class="my-2 mr-auto">
                                                        <img src="../../../assets/user big.png" alt="">
                                                        <span class="ml-2 mt-2 report">
                                                                {{action == 'Save'? 'Add': 'Update'}} Employee</span>
                                                </div>
                                                <div class="">
                                                        <i class=" tick pi pi-times mt-2 " aria-hidden="true"
                                                                (click)="removeSkill()"></i>
                                                </div>
                                        </div>
                                </p-header>
                                <form class="group grp_form " [formGroup]="employeeForm" (ngSubmit)="onSubmit(action)">
                                        <div class="row">
                                                <div class="col-sm-8">
                                                        <label class="head">Personal Information</label>
                                                </div>
                                                <div class="col-sm-2"><button type="button"
                                                                class="btn  btn-primary info my-3 ml-4"
                                                                (click)="AddEducation()">Add Education</button></div>
                                                <div class="col-sm-2"><button type="button"
                                                                class="btn  btn-primary info my-3 ml-4"
                                                                (click)="AddCertification()">Add Certification</button>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-8">
                                                        <div class="row ">
                                                                <div class="col-sm-2 field">
                                                                        <label class="nam_e">FirstName :</label>
                                                                </div>
                                                                <div class="col-sm-4 ">
                                                                        <input type="text" autocomplete="off"
                                                                                class="form-control text-centre box"
                                                                                placeholder="first name"
                                                                                name="firstname"
                                                                                formControlName="firstName"
                                                                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                                                                        <div *ngIf="submitted && f.firstName.errors"
                                                                                class="invalid-feedback">
                                                                                <div
                                                                                        *ngIf="f.firstName.errors.required">
                                                                                        First Name is required</div>
                                                                                <div *ngIf="f.firstName.errors.pattern">
                                                                                        Space Not Allowed</div>
                                                                        </div>
                                                                </div>
                                                                <div class="col-sm-2 field">

                                                                        <label class="nam_e">LastName :</label> </div>
                                                                <div class="col-sm-4">
                                                                        <input type="text" autocomplete="off"
                                                                                class="form-control text-centre box"
                                                                                placeholder="last name" name="lastname"
                                                                                formControlName="lastName"
                                                                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                                                                        <div *ngIf="submitted && f.lastName.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="f.lastName.errors.required">
                                                                                        Last Name is required</div>
                                                                                <div *ngIf="f.lastName.errors.pattern">
                                                                                        Space Not Allowed</div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-4"></div>
                                        <div class="row my-2">
                                                <div class="col-sm-8">
                                                        <div class="row ">
                                                                <div class="col-sm-2 field">
                                                                        <label class="nam_e">Email :</label>
                                                                </div>
                                                                <div class="col-sm-4 ">
                                                                        <input type="text" autocomplete="off"
                                                                                class="form-control text-centre box"
                                                                                placeholder="xyz@gmail.com" name="email"
                                                                                formControlName="email"
                                                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                                                        <div *ngIf="submitted && f.email.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="f.email.errors.required">
                                                                                        Email required</div>

                                                                        </div>
                                                                </div>
                                                                <div class="col-sm-2 field">

                                                                        <label class="nam_e">DOB :</label> </div>
                                                                <div class="col-sm-4">
                                                                        <input type="date" autocomplete="off"
                                                                                class="form-control text-centre box1"
                                                                                placeholder="" name="DOB"
                                                                                formControlName="dob"
                                                                                [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                                                                        <div *ngIf="submitted && f.dob.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="f.dob.errors.required">Date
                                                                                        of birth required</div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-4"></div>
                                        <div class="row">
                                                <div class="col-sm-8">
                                                        <div class="row ">
                                                                <div class="col-sm-2 field">

                                                                        <label class="nam_e">Cell No. :</label> </div>
                                                                <div class="col-sm-4 ">
                                                                        <div class="tel">
                                                                                <ngx-intl-tel-input class="code_ph"
                                                                                        [preferredCountries]="preferredCountries"
                                                                                        [enableAutoCountrySelect]="false"
                                                                                        [enablePlaceholder]="true"
                                                                                        [searchCountryFlag]="true"
                                                                                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                                                        [selectFirstCountry]="false"
                                                                                        [selectedCountryISO]="CountryISO.India"
                                                                                        [maxLength]="15"
                                                                                        [tooltipField]="TooltipLabel.Name"
                                                                                        [phoneValidation]="true"
                                                                                        [separateDialCode]="separateDialCode"
                                                                                        formControlName="phone"
                                                                                        name="phone">
                                                                                </ngx-intl-tel-input>
                                                                        </div>

                                                                </div>
                                                                <div class="col-sm-2 field">
                                                                        <label class="nam_e">Title :</label>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                        <input type="text" autocomplete="off"
                                                                                class="form-control text-centre box"
                                                                                placeholder="" name="title"
                                                                                formControlName="title"
                                                                                [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                                                        <div *ngIf="submitted && f.title.errors"
                                                                                class="invalid-feedback">
                                                                                <div *ngIf="f.title.errors.required">
                                                                                        Title required</div>

                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="col-sm-4"></div>
                                        <div class="row">
                                                <div class="col-sm-8">
                                                        <div class="row ">
                                                                <div class="col-sm-2 field">

                                                                        <label class="nam_e">Department :</label> </div>
                                                                <div class="col-sm-4 ">
                                                                        <select id="department"
                                                                                class="form-control code skill box"
                                                                                size="0" name="department"
                                                                                formControlName='department'
                                                                                (change)="getDesignationList()">

                                                                                <option value="" disable>Select
                                                                                        department</option>
                                                                                <option>Software</option>
                                                                                <option>Embedded</option>
                                                                                <option>Mechanical</option>
                                                                        </select>

                                                                </div>

                                                                <div class="col-sm-2 field">

                                                                        <label class="nam_e">Designation :</label>
                                                                </div>
                                                                <div class="col-sm-4 ">
                                                                        <select id="designation"
                                                                                class="form-control code skill box"
                                                                                size="0" name="designation"
                                                                                formControlName='designation'>

                                                                                <option [value]="design"
                                                                                        *ngFor="let design of designationList">
                                                                                        {{design}}</option>

                                                                        </select>

                                                                </div>

                                                        </div>
                                                </div>
                                        </div>

                                        <div class="col-sm-4"></div>
                                        <label class="head">Identity proof</label>
                                        <div class="col-sm-9">
                                                <div class="row ">
                                                        <div class="col-sm-2">

                                                                <label class="nam_e">Select Id Proof :</label> </div>
                                                        <div class="col-sm-10 sel">
                                                                <div class="row">
                                                                        <div class="col-sm-4">
                                                                                <select id="user_time_zone"
                                                                                        class="form-control code skill box"
                                                                                        size="0" placeholder="Area Code"
                                                                                        name="skill"
                                                                                        formControlName='ID'>

                                                                                        <option value="" disable>Select
                                                                                                ID type</option>
                                                                                        <option>Adhar Card</option>
                                                                                        <option>Passport</option>
                                                                                        <option>PAN Card</option>
                                                                                        <option>Driving Lincese
                                                                                        </option>
                                                                                        <option>Voter ID</option>
                                                                                </select></div>
                                                                        <div class="col-sm-8">
                                                                                <div class="row">
                                                                                        <label class="nam_e"> ID
                                                                                                No.:</label>
                                                                                        <input type="text"
                                                                                                autocomplete="off"
                                                                                                class="form-control idno"
                                                                                                placeholder="***********"
                                                                                                name="id"
                                                                                                formControlName='idno'>
                                                                                        <!-- <button type="button"
                                                                                                class="btn upload add">Add</button> -->
                                                                                        <button type="button"
                                                                                                class="btn upload plus">
                                                                                                <div class="pluss"
                                                                                                        (click)="addDocument()">
                                                                                                        +</div>
                                                                                        </button>
                                                                                        <span class="mt-2 option">Add
                                                                                                more id proof
                                                                                                (optional)</span>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="col-sm-3"></div>

                                                <div class="row">
                                                        <div class="clip ml-5 my-2">
                                                                <span class="left_chip my-2 ml-1"
                                                                        *ngFor="let doc of this.docArray;index as i">
                                                                        {{doc}} <i class=" tick pi pi-times mt-2 "
                                                                                aria-hidden="true"
                                                                                (click)="removeDoc(i)"></i>
                                                                </span></div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                        <div class="col-sm-7"></div>
                                                        <div class="col-sm-5">
                                                                <button type="submit" class="btn btn-primary save">
                                                                        {{action == 'Save'? 'Add': 'Update'}}
                                                                        Employee</button></div>
                                                </div>
                                                <hr>
                                        </div>


                                </form>
                        </p-dialog>

                        <p-dialog [modal]="true" header='' [(visible)]="displayEducation" [style]="{width: '100%'}">
                                <p-header class="dialogHeader mt-2">
                                        <span class="ml-2 mt-2 report">Add Education</span>
                                        <i class=" tick pi pi-times mt-2 " aria-hidden="true"
                                                (click)="removeEducation()"></i>
                                </p-header>
                                <div class="row">
                                        <div class="col-sm-8">
                                                <div class="row ">
                                                        <div class="col-sm-2 field">
                                                                <label class="nam_e">Education :</label>
                                                        </div>
                                                        <div class="col-sm-4 ">
                                                                <select id="" class="form-control box" size="0"
                                                                        placeholder="" name="" formControlName=''>
                                                                        <option>Select education</option>
                                                                        <option>Doctorate/PhD</option>
                                                                        <option>Master/Post-Graduation</option>
                                                                        <option>12 th</option>
                                                                </select>
                                                        </div>
                                                        <div class="col-sm-2 field">

                                                                <label class="nam_e">Course :</label> </div>
                                                        <div class="col-sm-4">
                                                                <select id="" class="form-control box" size="0"
                                                                        placeholder="" name="" formControlName=''>
                                                                        <option>Select Course</option>
                                                                        <option>CA</option>
                                                                        <option>CS</option>
                                                                        <option>MBA</option>
                                                                        <option>MCA</option>
                                                                        <option>Diploma</option>
                                                                        <option>BE</option>
                                                                </select>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-8">
                                                <div class="row ">
                                                        <div class="col-sm-2 field">
                                                                <label class="nam_e">Specialization :</label>
                                                        </div>
                                                        <div class="col-sm-4 my-2">
                                                                <select id="" class="form-control box" size="0"
                                                                        placeholder="" name="" formControlName=''>
                                                                        <option>Select Specialization</option>
                                                                        <option>CA</option>
                                                                        <option>CS</option>
                                                                        <option>ENTC</option>
                                                                        <option>IT</option>
                                                                </select>
                                                        </div>
                                                        <div class="col-sm-2 field">

                                                                <label class="nam_e">University/Institute</label>
                                                        </div>
                                                        <div class="col-sm-4 my-2">
                                                                <input type="text" autocomplete="off"
                                                                        class="form-control box"
                                                                        placeholder="University name" name=""
                                                                        formControlName="">
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-sm-8">
                                                <div class="row ">
                                                        <div class="col-sm-2 field">
                                                                <label class="nam_e">Cource Type :</label>
                                                        </div>
                                                        <div class="col-sm-10 "></div>
                                                </div>
                                        </div>
                                </div>
                                <div class=row>
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-3"> <input type="radio" name="age" value="30">Full Time<br>
                                        </div>
                                        <div class="col-sm-3"> <input type="radio" name="age" value="30">Part Time<br>
                                        </div>
                                        <div class="col-sm-3"> <input type="radio" name="age"
                                                        value="30">Correspondance/Distance Learning<br> </div>
                                        <div class="col-sm-4"></div>
                                </div>
                                <div class="row my-2">
                                        <div class="col-sm-8">
                                                <div class="row ">
                                                        <div class="col-sm-2 field">
                                                                <label class="nam_e">Passing Out Year:</label>
                                                        </div>
                                                        <div class="col-sm-4 ">
                                                                <select id="" class="form-control box" size="0"
                                                                        placeholder="" name="" formControlName=''>
                                                                        <option>Select Passing Out Year</option>
                                                                        <option>2014</option>
                                                                        <option>2013</option>
                                                                        <option>2012</option>
                                                                </select>
                                                        </div>
                                                        <div class="col-sm-2 field">

                                                                <label class="nam_e">Course :</label> </div>
                                                        <div class="col-sm-4">
                                                                <select id="" class="form-control box" size="0"
                                                                        placeholder="" name="" formControlName=''>
                                                                        <option>Grading System</option>
                                                                        <option>Scale 10 Grading System</option>
                                                                        <option>%marks of 100 Maximum</option>
                                                                        <option>Course requires a pass</option>
                                                                </select>
                                                        </div>
                                                </div>
                                                <div class="row my-2">
                                                                <div class="col-sm-7"></div>
                                                                <div class="col-sm-3 my-2">
                                                                <button type="submit"
                                                                        class="btn btn-primary save">Cancel</button>
                                                                        </div>
                                                                        <div class="col-sm-2 my-2">
                                                                        <button type="submit"
                                                                        class="btn btn-primary save">Save</button>
                                                                        </div>
                                                        </div>
                                        </div>
                                </div>

                        </p-dialog>
                        <p-dialog [modal]="true" header='' [(visible)]="displayCertification" [style]="{width: '100%'}">
                                <p-header class="dialogHeader mt-2">
                                        <div class="my-2 mr-auto">
                                                <span class="ml-2 mt-2 report">Add Certification</span>
                                        </div> <i class=" tick pi pi-times mt-2 " aria-hidden="true"
                                                (click)="removeCertification()"></i>
                                </p-header>
                                <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-8">
                                                <div class="row"> <label class="nam_e">Certification Name:</label></div>
                                                <div class="row">
                                                        <input type="text" autocomplete="off"
                                                                class="form-control text-centre box"
                                                                placeholder="Enter Certification name" name=""
                                                                formControlName="">
                                                </div>
                                                <div class="row"> <label class="nam_e">Certification Body:</label></div>
                                                <div class="row">
                                                        <input type="text" autocomplete="off"
                                                                class="form-control text-centre box"
                                                                placeholder="Enter Certification bddy" name=""
                                                                formControlName="">
                                                </div>
                                                <div class="row"> <label class="nam_e">Year:</label></div>
                                                <div class="row">
                                                        <select id="" class="form-control box" size="0" placeholder=""
                                                                name="" formControlName=''>
                                                                <option> Year</option>
                                                                <option>2014</option>
                                                                <option>2013</option>
                                                                <option>2012</option>
                                                        </select>
                                                </div>
                                                <div class="row my-2">
                                                        <div class="col-sm-7"></div>
                                                        <div class="col-sm-3 my-2">
                                                        <button type="submit"
                                                                class="btn btn-primary save">Cancel</button>
                                                                </div>
                                                                <div class="col-sm-2 my-2">
                                                                <button type="submit"
                                                                class="btn btn-primary save">Save</button>
                                                                </div>
                                                </div>
                                        </div>
                                        <div class="col-sm-3"></div>

                                </div>
                        </p-dialog>

                </div>

                <div class="col-sm-1 col-md-1 col-lg-1"></div>
        </div>
</div>