
.header{
    height: 81px;
}
.img{
    width: 181px;
    margin-top: 12px;
    height: 31px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
      color: #4A90E2;
    background-color: #8080802e;
    border-bottom: 4px solid #4A90E2;
    font-weight: 700;
    // display: inline;
 }