<div class="header">


    <div class="row">
      <div class="col-sm-2 col-md-3 col-lg-3 col-xl-2 col-3 logo">
        <img src="/assets/logo/logo_one.png" class="bgimg">
        
      </div>
      <div class="col-sm-10 col-md-9 col-lg-9 col-xl-10 col-9 profile" style="margin-top: 15px;">
        <div class="d-flex d-flex-row flx1">
          <div class="mr-auto"></div>
          <div>
          <div class="mt-1">
          <p-autoComplete [(ngModel)]="text" placeholder="Search Employee or Help" [suggestions]="results"
          (completeMethod)="search($event)"></p-autoComplete>
          <button type="submit" pButton type="button" (click)="onComplete($event)" class="ui-button-warn">
          <img class=" mt-2" src="/assets/logo/Search Icon.png">
          </button>
          
          </div>
          </div>
          <div class="ml-2 mr-2 mt-2 ">
          <img class=" mt-2" src="/assets/logo/settings.png">
          </div>
          <div class="ml-2 mr-2 mt-2" style="z-index: 1"><img src="/assets/logo/Notification.png" (click)="op.toggle($event)">
         </div>
          <div class="ml-2 mr-2 mt-2"><img src="/assets/logo/logout.png"></div>
          <div class="ml-2 mr-2 mt-2 Profname">{{name}}</div>
          <div class="ml-2 mr-2 mt-2"><i class="fa fa-angle-down" aria-hidden="true" style="color:black"></i></div>
          <div class="profile" style="margin-top: 0px;">
          <img class="profileImage" (click)="LogOut()" src="http://lorempixel.com/100/100" />
          </div>
         
          </div>
         
   
      </div>  
      <div class="col-sm-8"></div>
      <div class="col-sm-4" style="z-index: 1">
        <div style="width:348px">
        <p-overlayPanel #op>
            <div class="row">
                <div class="col-sm-7">
                  <span class="note">Notifications</span></div>
                <div class="col-sm-5"> <a href="">Mark All as Read</a></div>
              </div>
              <hr>
          <ul *ngFor="let data of notificationData">
            
              <li class="notify" > 
                  <div class="row">
                      <div class="col-sm-2 ml-0 pl-0"> <img class="profileImage" src="http://lorempixel.com/100/100" /></div>
                      <div class="col-sm-10"><span class="notename">  {{data.firstName}} :- </span>{{data.designation}}</div>
                      </div>
               
                 
              </li>
              <hr>
              </ul>
              <div>
                  <p class="text-center"><a href="">See All</a></p>
                </div>
            
      </p-overlayPanel>
     
      </div>
    </div>
    </div>
  
  
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>





<div class="menu_bottom row">
    <div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 col-1">
  
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-10 footer">
      @ BEAUTO System Pvt. Ltd. | <a class="link"> Terms</a>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-4 col-xl-4 col-1">
  
    </div>
  
  </div>