<div class="dashboard">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <button type="button" [ngClass]="infodispaly ? 'active' : ''" class="btn info my-3 mr-4"
                (click)="PersonalInfo()">Personal Information</button>

            <button type="button" [ngClass]="display ? 'active' : ''" class="btn upload my-3"
                (click)="UploadResume()">Upload Resume</button>




            <p-dialog [(visible)]="display" [style]="{width: '90%', height: '95%'}">
                <p-header class="dialogHeader mt-2">
                    <img src="../../../assets/resume page.png" alt="">
                    <span class="ml-2 mt-2 report"> Upload Resume</span>
                </p-header>
                <div class="row resume">
                    Upload your resume,cover letter and any other documents.
                </div>
                <div class="row format">
                    Upload either DOCX or PDF(2.0 MB max)
                </div>
                <div class="row">
                  
                            <div class="col-sm-4 my-3">
                                    <input type="file" class="filetag" name="myfile" (change)="upload($event.target.files)" />
                                    <span class="mt-2 word">Or</span>
                                    <span class="ml-2 mt-2"><img src="../../../assets/cloud download.png"></span>
                                    <span class="ml-2 mt-2"><img src="../../../assets/dropbox.png"></span>
                                    <span class="ml-2 mt-2"><img src="../../../assets/linkdein.png"></span>
                             
                            </div>
                            <div class="col-sm-4 my-3">
                                    <input type="file" class="filetag" name="myfilename" (change)="uploadFile($event.target.files)" />
                                     <span class=" ml-2 mt-2 word">Or</span>
                                    <span class="ml-2 mt-2"><img src="../../../assets/cloud download.png"></span>
                                    <span class="ml-2 mt-2"><img src="../../../assets/dropbox.png"></span>
                                    <span class="ml-2 mt-2"><img src="../../../assets/linkdein.png"></span>
                              
                            </div>
                       
                    
                </div>

                <hr class="line">
                <div class="space">

                </div>
                <hr>
                <div class="row">
                    <button class="btn  btn3" type="button">submit</button>
                </div>
            </p-dialog>


            <p-dialog [(visible)]="infodispaly" [style]="{width: '90%', height: '300%'}">
                <p-header class="dialogHeader mt-2">
                    <img src="../../../assets/user big.png" alt="">
                    <span class="ml-2 mt-2 report"> Profile</span>
                </p-header>
                <form class="group grp_form" [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">
                    <label class="head">Personal Information</label>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row ">
                                <div class="col-sm-2">

                                    <label class="nam_e">FirstName :</label> </div>
                                <div class="col-sm-4">
                                    <input type="text" autocomplete="off" class="form-control text-centre"
                                        placeholder="" name="firstname" formControlName="firstName">
                                        <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['firstName'].hasError('required') &&
                                            (personalInfoForm.controls['firstName'].dirty || personalInfoForm.controls['firstName'].touched)">This field is
                                        required</span>
                                    <span class="text-danger" *ngIf="personalInfoForm.controls['firstName'].hasError('pattern') && 
                                            (personalInfoForm.controls['firstName'].dirty || personalInfoForm.controls['firstName'].touched)">
                                        Space Not Allowed</span>
                                    </div>
                                <div class="col-sm-2">

                                    <label class="nam_e">LastName :</label> </div>
                                <div class="col-sm-4">
                                    <input type="text" autocomplete="off" class="form-control text-centre"
                                        placeholder="" name="lastname" formControlName="lastName"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>


                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row my-2">
                                <div class="col-sm-2">

                                    <label class="nam_e">Email Id :</label> </div>
                                <div class="col-sm-4">
                                    <input type="email" autocomplete="off" class="form-control text-centre"
                                        placeholder="" name="Email" formControlName="email"></div>
                                <div class="col-sm-2">

                                    <label class="nam_e">DOB :</label> </div>
                                <div class="col-sm-4">
                                    <!-- <p-calendar [(ngModel)]="DueDate"  [showIcon]="true" [yearNavigator]="true" yearRange="1900:2019"></p-calendar> -->
                                    <input type="date" autocomplete="off" class="form-control text-centre"
                                        placeholder="" name="dob" formControlName="dob">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row ">
                                <div class="col-sm-2">

                                    <label class="nam_e">Cell No. :</label> </div>
                                <div class="col-sm-4 ">
                                    <div class="tel">
                                        <ngx-intl-tel-input class="code_ph" [preferredCountries]="preferredCountries"
                                            [enableAutoCountrySelect]="false" [enablePlaceholder]="true"
                                            [searchCountryFlag]="true"
                                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                            [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India"
                                            [maxLength]="15" [tooltipField]="TooltipLabel.Name" [phoneValidation]="true"
                                            [separateDialCode]="separateDialCode" name="phone"></ngx-intl-tel-input>
                                    </div>

                                </div>
                                <div class="col-sm-2">

                                    <label class="nam_e">photo :</label> </div>
                                <div class="col-sm-4">
                                    <input style="display: none" type="file" (change)="onFileChanged($event)"
                                        #fileInput>
                                    <button (click)="fileInput.click()" class="browse">Browse</button>
                                    <!-- <input type="text" autocomplete="off" class="form-control text-centre" placeholder=""  name="photo" > -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-12 line"></div>
                    <div class="row ">
                    </div>

                    <label class="head">Experience Details</label>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row loc">
                                <div class="col-sm-2">

                                    <label class="nam_e">Total Experience :</label> </div>

                                <div class="col-sm-10">



                                    <select class="year">
                                        <option *ngFor="let d of data" [value]="d.num">{{d.num}}</option>

                                    </select>
                                    <select class="month">
                                        <option *ngFor="let s of detail" [value]="s.id">{{s.id}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-3"></div>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row loc">
                                <div class="col-sm-2">

                                    <label class="nam_e">Current Location :</label> </div>
                                <div class="col-sm-10">



                                    <select class="country">
                                        <option *ngFor="let a of check" [value]="a.val">{{a.val}}</option>

                                    </select>
                                    <select class="state">
                                        <option *ngFor="let e of eval" [value]="e.sa">{{e.sa}}</option>

                                    </select>
                                    <select class="city">
                                        <option *ngFor="let c of checked" [value]="c.ind">{{c.ind}}</option>

                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row loc">
                                <div class="col-sm-2">

                                    <label class="nam_e">Notice Period :</label> </div>

                                <div class="col-sm-10">



                                    <select class="note">
                                        <option *ngFor="let n of note" [value]="n.notes">{{n.notes}}</option>

                                    </select>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>


                    <div class="col-sm-3"></div>
                    <label class="head">Add Skill's and Experience Details </label>

                    <div class="col-sm-9">
                        <div class="row ">
                            <div class="col-sm-2">

                                <label class="nam_e">Add Skill :</label> </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <select id="user_time_zone" class="form-control code " size="0"
                                            placeholder="Area Code" name="skill">
                                            <option>Skill Name</option>
                                            <option>Angular</option>
                                            <option>Java</option>
                                            <option>Android</option>
                                            <option>Spring</option>
                                            <option>Hibernate</option>
                                            <option>servlet</option>
                                            <option>JSP</option>
                                        </select></div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <label class="nam_e"> Experience :</label>
                                            <select class="year_s">
                                                <option *ngFor="let d of data" [value]="d.num">{{d.num}}</option>

                                            </select>
                                            <select class="month">
                                                <option *ngFor="let s of detail" [value]="s.id">{{s.id}}</option>
                                            </select>
                                            <button type="button" class="btn upload add">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-3"></div>

                    <div class="col-sm-12 line"></div>
                    <div class="row ">
                    </div>
                    <label class="head">Identity Proof </label>

                    <div class="col-sm-9">
                        <div class="row ">
                            <div class="col-sm-2">

                                <label class="nam_e">Select Id Proof :</label> </div>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <select id="user_time_zone" class="form-control code skill" size="0"
                                            placeholder="Area Code" name="skill">
                                            <option>Select file type</option>
                                            <option>adhar no.</option>
                                            <option>Passport</option>
                                            <option>PAN Card</option>
                                            <option>Adhar Card</option>
                                            <option>Driving Lincese</option>
                                            <option>Voter ID</option>
                                        </select></div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <label class="nam_e"> Identity No.:</label>
                                            <input type="text" autocomplete="off" class="form-control idno"
                                                placeholder="***********" name="id">
                                            <button type="button" class="btn upload add">Add</button>
                                            <button type="button" class="btn upload plus">
                                                <div class="pluss">+</div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-3"></div>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row my-2">
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="passno"><i class="close pi pi-times"></i>  </div>
                                    
                                </div>

                                <div class="col-sm-6">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row my-2">
                                <div class="col-sm-2">

                                    <label class="nam_e"></label>Designation: </div>
                                <div class="col-sm-4 ">
                                    <input type="email" autocomplete="off" class="form-control des"
                                        placeholder="Current Designation" name="desgn"  formControlName="designation"></div>

                                <div class="col-sm-6">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-12 line"></div>
                    <div class="row ">
                    </div>
                    <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-5">
                            <button type="button" (click)="onSubmit()" class="btn btn-primary save">Save</button></div>
                    </div>



                   

                </form>
            </p-dialog>
        </div>

    </div>
</div>