.dashboard{
    height: 89vh;
    background-color: #ECEFF1;
    overflow-y: scroll ; 
    overflow-x: hidden ;
    
 }
 .btn{
    background-color: white;
    width: 180px;
}
.active{
  background-color: blue;
  color: white;
  font-weight: bolder;
}
.filetag{
  width: 200px;
}
 
.format{
    color: #8EA3AF;
    margin-left: 37px;
    margin-top: 6px;
    font-size: small;
}
.resume{
    margin-top: 19px;
    margin-left: 37px;
}
.space{
    margin-bottom: 225px;
}
.btn3{
     background-color: blue;
    width: 129px;
    height: 33px;
    margin-left: 700px;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 1px;
    font-size:small;
   
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btnx {
    background-color:blue;
    color: white;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 18px;
    height: 34px;
    border-radius: 8px;
    width: 113px;
    margin-left: 37px;
    border: 0ch;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .btng{
    height: 34px;
    border-radius: 8px;
    width: 113px;
    background-color: #AFBEC6;
    font-weight: 500;
    margin-top: 18px;
    color: white;
    border: 0ch;
    
  }
  .report{
    color: blue;
    font-size: larger;
   // margin-left: 12px;
  }

  .filename{
    font-size: x-small;
    color: blue;
  }
.word{
  color: #8EA3AF;
  font-size: smaller;
}
:host ::ng-deep .pi-times{
  display: none;
}
.btn-file-upload1{
    width: 236px;
  height: 34px;
  position:relative;
  margin-left: 34px;
  
}

.btn-file-upload1:after{
 content:  attr(value);
 position: absolute;
 font-weight: 500;
 height: 34px;
 top: 0;
 left: 0;
 bottom: 0;    
 width: 110px;
 background-color:blue;
 color: white;
 border-radius: 2px;
 text-align: center;
 font-size: 12px;
 line-height: 3;
 border-radius: 5px;
 
 
}
.error{
  color: red;
  margin-left: 36px;
}

// :host ::ng-deep .ui-dialog-content .ui-widget-content{
//   height: 406px;
// }
.nam_e{
    text-align: end;
}
.line{
    border-bottom: 1px solid gray;
    margin-top: 20px;
  
}
.head{
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.year{
    color: #6F838C;
    border-radius: 5px;
    padding: 11px 55px 5px 0px;
    border-color: #CCD8DD;
    background-color: white;
}
.month{
    color:#6F838C;
    border-radius: 5px;
    padding: 11px 55px 5px 0px;
    border-color: #CCD8DD;
    background-color: white;
    margin-left: 10px; 
}
.country{
    color: #6F838C;
    border-radius: 5px;
    padding: 11px 55px 5px 0px;
    border-color: #CCD8DD;
    background-color: white;
   

}
.state{
    color:#6F838C;
    border-radius: 5px;
    padding: 11px 55px 5px 0px;
    border-color: #CCD8DD;
    background-color: white;
    margin-left: 10px; 
   
}
.city{
    color:#6F838C;
    border-radius: 5px;
    padding: 11px 55px 5px 0px;
    border-color: #CCD8DD;
    background-color: white;
    margin-left: 10px; 
   
       
}
.note{
    color:#6F838C;
    border-radius: 5px;
    padding: 11px 55px 5px 0px;
    border-color: #CCD8DD;
    background-color: white;
    width: 180px;
   
    
}
.line{
    padding: 0px 31px 0px 31px;
}


.loc{
    margin-top: 10px;
}
.add{
    background-color: #ACBEC6;
    margin-left: 10px;
    width:65px;
    color:white;
}
.year_s{
    margin-left: 25px;
    color: #6F838C;
    border-radius: 5px;
    padding: 11px 55px 5px 0px;
    border-color: #CCD8DD;
    background-color: white;
}
.idno{
    width:160px;
    margin-left: 10px;
}
.plus{
    width:45px;
    border-color: #ACBEC6;
    margin-left: 10px;
}
.pluss{
    color:white;
    background-color: #3EECB6;
   font-size: larger;
    border-radius: 77px;
   height: 28px;
   width: 28px;
   font-weight: 700;
}
:host ::ng-deep .ng-trigger {
   
  height: 50% !important;

}

.passno{
  
    width: 233px;
    height: 32px;
    margin-left: 6px;
    border-radius: 45px;
    border: 1px solid #CCD8DD;
    background-color: #EBEFF1;
}
.des{
    width: 232px;
}
.save{
    width:120px;
    margin-top: 13px;
    background-color: #3E5EFF;
}
:host ::ng-deep  .ui-button-icon-only{
    background-color: gray;
    border-color: gray;
}
:host ::ng-deep  .country-list{
    white-space: normal !important;
       max-height: 200px !important;
     overflow-y: scroll !important; 
}

:host ::ng-deep .selected-dial-code{
    margin-top: 1px;
}
.intl-tel-input.separate-dial-code[_ngcontent-ffm-c2] input[_ngcontent-ffm-c2], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2[_ngcontent-ffm-c2] input[_ngcontent-ffm-c2], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3[_ngcontent-ffm-c2] input[_ngcontent-ffm-c2], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4[_ngcontent-ffm-c2] input[_ngcontent-ffm-c2] {
    padding-left: 98px;
    border: none!important;
}
.tel{
    border: 1px solid #C0C9CC;
    border-radius: 6px;
}
.other{
    border: 1px solid #C0C9CC;
    width: 240px;
    height: 40px;
}
.close{
  margin-top: 7px; 
  margin-right: 10px; 
 display: contents;
 margin-left: 30px;
 display:block;
 margin-left: 18px;
}
.btn-file-upload{
    width: 187px;
    height: 34px;
    position:relative;
  }
  .btn-file-upload:after{
   content:  attr(value);
   position: absolute;
   font-weight: 500;
   height: 41px;
   top: 0;
   left: 0;
   bottom: 0;    
   width: 92px;
   background-color:#EBEFF1;
   color: #93ACB5;
   text-align: center;
   font-size: 14px;
   line-height: 2.5;
   border-radius: 3px;
  }
  .doc{
    margin-left: 39px;
    font-weight: 700;
  
  }
//   :host ::ng-deep .pi-times{
//     display: none;
//   }



:host ::ng-deep.group .grp_form  {
    height: 557px;
}
.req{
  margin-left: 36px;
  color: red;
}
.codes{
  margin-top: 10px;
}
