<div class="dashboard">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <button type="button" [ngClass]="infodispaly ? 'active' : ''" class="btn info my-3 mr-4"
                (click)="PersonalInfo()">Personal Information</button>

            <button type="button" [ngClass]="display ? 'active' : ''" class="btn upload my-3"
                (click)="UploadResume()">Upload Resume</button>
            <p-dialog [(visible)]="display" [style]="{width: '90%'}">
                <p-header class="dialogHeader mt-2">
                    <img src="../../../assets/resume page.png" alt="">
                    <span class="ml-2 mt-2 report"> Upload Resume</span>
                </p-header>
                <div class="row resume">
                    Upload your resume,cover letter and any other documents.
                </div>
                <div class="row format">
                    Upload either DOCX or PDF(2.0 MB max)
                </div>
                <div class="row">

                    <div class="col-sm-4 my-3">
                        <label>
                            <!-- <input type="file" class="filetag" name="myfile" (change)="upload($event.target.files)" /> -->
                            <span class="req">*</span>
                            <input type="file" class="btn-file-upload1 " value="Upload file"
                                (change)="upload($event.target.files)"   (change)="getFileDetails($event)" />
                                </label>
                        <span class=" ml-2 mt-2 word">Or</span>
                        <span class="ml-2 mt-2"><img src="../../../assets/cloud download.png"></span>
                        <span class="ml-2 mt-2"><img src="../../../assets/dropbox.png"></span>
                        <span class="ml-2 mt-2"><img src="../../../assets/linkdein.png"></span>
                        <div class="error" *ngIf="errormassage">Invalid file type or size </div>
                    </div>
                    <div class="col-sm-4 my-3">
                        <label>
                            <!-- <input type="file" class="filetag" name="myfilename" (change)="uploadFile($event.target.files)" /> -->
                            <input type="file" class="btn-file-upload1" value="Upload File"
                                (change)="upload($event.target.files)" (change)="Details($event)" />
                        </label>
                        <span class=" ml-2 mt-2 word">Or</span>
                        <span class="ml-2 mt-2"><img src="../../../assets/cloud download.png"></span>
                        <span class="ml-2 mt-2"><img src="../../../assets/dropbox.png"></span>
                        <span class="ml-2 mt-2"><img src="../../../assets/linkdein.png"></span>
                        <div class="error" *ngIf="err">Invalid file type or size </div>
                    </div>

                    <div class="col-sm-4 my-3">
                            <label>
                        <!-- <input type="file" class="filetag" name="myfilename" (change)="uploadFile($event.target.files)" /> -->
                        <input type="file" class="btn-file-upload1" value="Upload File"
                        (change)="upload($event.target.files)"  (change)="Details($event)"/>
                        </label>
                        <span class=" ml-2 mt-2 word">Or</span>
                        <span class="ml-2 mt-2"><img src="../../../assets/cloud download.png"></span>
                        <span class="ml-2 mt-2"><img src="../../../assets/dropbox.png"></span>
                        <span class="ml-2 mt-2"><img src="../../../assets/linkdein.png"></span>
                        <div class="error" *ngIf="err">Invalid file type or size </div>
                    </div>


                </div>

                <hr class="line">
                <div class="space">

                </div>
                <hr>
                <div class="row">
                    <button class="btn  btn3" type="button">submit</button>
                </div>
            </p-dialog>


            <p-dialog [(visible)]="infodispaly" [style]="{width: '90%'}">
                <p-header class="dialogHeader mt-2">
                    <img src="../../../assets/user big.png" alt="">
                    <span class="ml-2 mt-2 report"> Profile</span>
                </p-header>
                <form class="group grp_form" [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">
                    <label class="head">Personal Information</label>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row ">
                                <div class="col-sm-2 nam_e">

                                    <label>First Name :</label> </div>
                                <div class="col-sm-4">
                                    <input type="text" autocomplete="off" class="form-control text-centre"
                                        placeholder="first name" name="firstname" formControlName="firstName">
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['firstName'].hasError('required') &&
                                            (personalInfoForm.controls['firstName'].dirty || personalInfoForm.controls['firstName'].touched)">This
                                        field is
                                        required</span>
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['firstName'].hasError('pattern') && 
                                            (personalInfoForm.controls['firstName'].dirty || personalInfoForm.controls['firstName'].touched)">
                                        Space Not Allowed</span>
                                </div>
                                <div class="col-sm-2 nam_e">

                                    <label>Last Name :</label> </div>
                                <div class="col-sm-4">
                                    <input type="text" autocomplete="off" class="form-control text-centre"
                                        placeholder="last name" name="lastname" formControlName="lastName">
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['lastName'].hasError('required') &&
                                            (personalInfoForm.controls['lastName'].dirty || personalInfoForm.controls['lastName'].touched)">This
                                        field is
                                        required</span>
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['lastName'].hasError('pattern') && 
                                            (personalInfoForm.controls['lastName'].dirty || personalInfoForm.controls['lastName'].touched)">
                                        Space Not Allowed</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>


                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row my-2">
                                <div class="col-sm-2 nam_e">

                                    <label>Email Id :</label> </div>
                                <div class="col-sm-4">
                                    <input type="email" autocomplete="off" class="form-control text-centre"
                                        placeholder="youremail@gmail.com" name="Email" formControlName="email">
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['email'].hasError('required') &&
                                        (personalInfoForm.controls['email'].dirty || personalInfoForm.controls['email'].touched)">This
                                        field is required</span>
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['email'].hasError('email') && 
                                        (personalInfoForm.controls['email'].dirty || personalInfoForm.controls['email'].touched)">
                                        Email must be valid email address</span>
                                </div>
                                <div class="col-sm-2 nam_e">

                                    <label>DOB :</label> </div>
                                <div class="col-sm-4">
                                    <!-- <p-calendar [(ngModel)]="DueDate"  [showIcon]="true" [yearNavigator]="true" yearRange="1900:2019"></p-calendar> -->
                                    <input type="date" autocomplete="off" class="form-control text-centre"
                                        placeholder="" name="dob" formControlName="dob">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row ">
                                <div class="col-sm-2 nam_e">

                                    <label>Cell No. :</label> </div>
                                <div class="col-sm-4 ">
                                    <div class="tel">
                                        <ngx-intl-tel-input class="code_ph" 
                                        [preferredCountries]="preferredCountries"
                                            [enableAutoCountrySelect]="false"
                                             [enablePlaceholder]="true"
                                            [searchCountryFlag]="true"
                                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                            [selectFirstCountry]="false" 
                                            [selectedCountryISO]="CountryISO.India"
                                            [maxLength]="15"
                                             [tooltipField]="TooltipLabel.Name"
                                             [phoneValidation]="true"
                                            [separateDialCode]="separateDialCode" name="phone"></ngx-intl-tel-input>
                                          
                                            
                                            <!-- <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['phoneNo'].hasError('required') &&
                                        (personalInfoForm.controls['phoneNo'].dirty || personalInfoForm.controls['phoneNo'].touched)">This
                                        field is required</span>
                                            <span class="text-danger"
                                            *ngIf="personalInfoForm.controls['phoneNo'].hasError('pattern') && 
                                            (personalInfoForm.controls['phoneNo'].dirty || personalInfoForm.controls['phoneNo'].touched)">
                                            enter valid phone number</span> -->
                                        </div>
                                </div>

                                <div class="col-sm-2 nam_e">

                                    <label>photo :</label> </div>
                                <div class="col-sm-4">
                                    <span style="color:red;" *ngIf="message">{{message}}</span>
                                    <input #file type="file" accept='image/*' class="btn-file-upload"
                                        (change)="preview(file.files)" value="Browse" />
                                    <img [src]="imgURL" height="40" *ngIf="imgURL">
                                    <!-- <input type="text" autocomplete="off" class="form-control text-centre" placeholder=""  name="photo" > -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-12 line"></div>
                    <div class="row ">
                    </div>

                    <label class="head">Experience Details</label>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row loc">
                                <div class="col-sm-2 nam_e">

                                    <label>Total Experience :</label> </div>

                                <div class="col-sm-10">



                                    <select class="year" formControlName='expYear'>
                                        <option [disabled]="true" [selected]="true">0 Years</option>
                                        <option *ngFor="let d of data" [value]="d.num">{{d.num}}</option>

                                    </select>
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['expYear'].hasError('required') &&
                                    (personalInfoForm.controls['expYear'].dirty || personalInfoForm.controls['expYear'].touched)"> *</span>

                                    <select class="month" formControlName='expMonth'>
                                        <option [disabled]="true" [selected]="true">0 Month</option>
                                        <option *ngFor="let s of detail" [value]="s.id">{{s.id}}</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['expMonth'].hasError('required') &&
                                    (personalInfoForm.controls['expMonth'].dirty || personalInfoForm.controls['expMonth'].touched)"> *</span>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-3"></div>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row loc">
                                <div class="col-sm-2 nam_e">

                                    <label>Current Location :</label> </div>
                                <div class="col-sm-10">



                                    <select class="country" formControlName='country'>
                                        <option [disabled]="true" [selected]="true">Country</option>
                                        <option *ngFor="let a of check" [value]="a.val">{{a.val}}</option>

                                    </select>
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['country'].hasError('required') &&
                                    (personalInfoForm.controls['country'].dirty || personalInfoForm.controls['country'].touched)">*
                                    </span>
                                    <select class="state" formControlName='state'>
                                        <option [disabled]="true" [selected]="true">State</option>
                                        <option *ngFor="let e of eval" [value]="e.sa">{{e.sa}}</option>

                                    </select>
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['state'].hasError('required') &&
                                    (personalInfoForm.controls['state'].dirty || personalInfoForm.controls['state'].touched)">*
                                    </span>
                                    <select class="city" formControlName='city'>
                                        <option [disabled]="true" [selected]="true">City</option>
                                        <option *ngFor="let c of checked" [value]="c.ind">{{c.ind}}</option>

                                    </select>
                                    <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['city'].hasError('required') &&
                                    (personalInfoForm.controls['city'].dirty || personalInfoForm.controls['city'].touched)">*</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row loc">
                                <div class="col-sm-2 nam_e">

                                    <label>Notice Period :</label> </div>

                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-3">


                                            <select class="note" formControlName='noticePer'>
                                                <option [disabled]="true" [selected]="true">Select</option>
                                                <option *ngFor="let n of note" [value]="n.notes">{{n.notes}}</option>

                                            </select>
                                        </div>
                                        <span class="text-danger"
                                            *ngIf="personalInfoForm.controls['noticePer'].hasError('required') &&
                                        (personalInfoForm.controls['noticePer'].dirty || personalInfoForm.controls['noticePer'].touched)">*</span>

                                        <div class="col-sm-3">
                                            <input type="text" autocomplete="off" class="form-control text-centre"
                                                placeholder="others" name="other" >
                                        </div>
                                    </div>
                                    <div class="col-sm-6"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>


                    <div class="col-sm-3"></div>
                    <label class="head">Add Skill's and Experience Details </label>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row ">
                                <div class="col-sm-2 nam_e">

                                    <label>Add Skill :</label> </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <select id="user_time_zone" class="form-control code " size="0"
                                                placeholder="Area Code" name="skill" formControlName='skill'>
                                                <option [disabled]="true" [selected]="true">Skill Name</option>
                                                <option>Angular</option>
                                                <option>Java</option>
                                                <option>Android</option>
                                                <option>Spring</option>
                                                <option>Hibernate</option>
                                                <option>servlet</option>
                                                <option>JSP</option>
                                            </select>
                                       
                                        <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['skill'].hasError('required') &&
                                (personalInfoForm.controls['skill'].dirty || personalInfoForm.controls['skill'].touched)">this field is required
                                    </span>
                                </div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <label class="nam_e"> Experience :</label>
                                                <select class="year_s" formControlName="sExpYear">
                                                    <option [disabled]="true" [selected]="true">0 Years</option>
                                                    <option *ngFor="let d of data" [value]="d.num">{{d.num}}</option>

                                                </select>
                                                <span class="text-danger"
                                                    *ngIf="personalInfoForm.controls['sExpYear'].hasError('required') &&
                                            (personalInfoForm.controls['sExpYear'].dirty || personalInfoForm.controls['sExpYear'].touched)">*
                                                </span>
                                                <select class="month" formControlName='sExpMonth'>
                                                    <option [disabled]="true" [selected]="true">0 Month</option>
                                                    <option *ngFor="let s of detail" [value]="s.id">{{s.id}}</option>
                                                </select>
                                                <span class="text-danger"
                                                    *ngIf="personalInfoForm.controls['sExpMonth'].hasError('required') &&
                                            (personalInfoForm.controls['sExpMonth'].dirty || personalInfoForm.controls['sExpMonth'].touched)">*
                                                </span>
                                                <button type="button" class="btn upload add"(click)="addSkill()">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3"></div>
                    <div *ngFor="let skill of this.skillArray">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row my-2">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="passno"> <span class="doc align-top">{{skill}}</span><i
                                                class="close pi pi-times" (click)='removeSkill(i)'></i> </div>


                                    </div>

                                    <div class="col-sm-6">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 line"></div>
                    <div class="row ">
                    </div>
                    <label class="head">Identity Proof </label>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row ">
                                <div class="col-sm-2 nam_e">

                                    <label>Select Id Proof :</label> </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <select id="user_time_zone" class="form-control code skill" size="0"
                                                placeholder="Area Code" name="skill" formControlName='idProof'>

                                                <option [disabled]="true" [selected]="true">Select File Type</option>
                                                <option>Adhar No.-</option>
                                                <option>Passport No.</option>
                                                <option>PAN Card No.</option>
                                                <option>Adhar Card No.</option>
                                                <option>Driving Lincese No.</option>
                                                <option>Voter ID No.</option>
                                            </select>
                                            <span class="text-danger"
                                            *ngIf="personalInfoForm.controls['idProof'].hasError('required') &&
                                    (personalInfoForm.controls['idProof'].dirty || personalInfoForm.controls['idProof'].touched)">this field is required
                                        </span></div>
                                        <div class="col-sm-8">
                                            <div class="row">
                                                <label class="nam_e"> Identity No.:</label>
                                               <input type="text" autocomplete="off" class="form-control idno"
                                                    placeholder="***********" name="id" formControlName='identityNo'>  
                                                    <span class="text-danger"
                                                    *ngIf="personalInfoForm.controls['identityNo'].hasError('required') &&
                                            (personalInfoForm.controls['identityNo'].dirty || personalInfoForm.controls['identityNo'].touched)">this field is required
                                                </span>
                                            
                                                <button type="button" class="btn upload add">Add</button>
                                                <button type="button" class="btn upload plus">
                                                    <div class="pluss" (click)="addDocument()">+</div>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-3"></div>
                    <div *ngFor="let doc of this.docArray;index as i">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row my-2">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-4 ">
                                        <div class="passno"> <span class="doc align-top">{{doc}}</span><i
                                                class="close pi pi-times" (click)='removeDoc(i)'></i> </div>


                                    </div>

                                    <div class="col-sm-6">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3"></div>

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row my-2">
                                <div class="col-sm-2 nam_e">

                                    <label>Designation :</label> </div>
                                <div class="col-sm-4 ">
                                    <input type="email" autocomplete="off" class="form-control des"
                                        placeholder="Current Designation" name="desgn" formControlName="designation">
                                        <span class="text-danger"
                                        *ngIf="personalInfoForm.controls['designation'].hasError('required') &&
                                (personalInfoForm.controls['designation'].dirty || personalInfoForm.controls['designation'].touched)">this field is required
                                    </span>
                                </div>

                                <div class="col-sm-6">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-12 line"></div>
                    <div class="row ">
                    </div>
                    <div class="row">
                        <div class="col-sm-7"></div>
                        <div class="col-sm-5">
                            <button type="button" (click)="onSubmit()" class="btn btn-primary save">Save</button></div>
                    </div>





                </form>
            </p-dialog>
        </div>

    </div>
</div>