<div class="full-width">
                <!-- <img src="/assets/login_img.png" class="bgimg"> -->
  
        <p-card class="register_card">
                <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="my-2">
                                <img class="img" src="../../../assets/logo_cmp.svg">
                        </div>
                        
                        <div class="mt-5">
                                <input type="email" autocomplete="off" class="form-control" formControlName="email"
                                        placeholder="Email / Phone Number "
                                        [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" />
                                <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>


                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>

                        </div>
                       

                        <div class="my-3">
                                <input type="password" autocomplete="off" class="form-control"
                                        formControlName="password" placeholder="Password"
                                        [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
                                <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">password no is required</div>
                                        <div *ngIf="f.password.errors.pattern">password must Special char, digit,
                                                uppercase, lowercase</div>
                                      


                                </div>
                        </div>

                        <re-captcha></re-captcha>
                        <!-- <label>
    <span>Retype the chars long from the picture:</span>
 captcha code: user-input textbox
    <input
      type="text"
      id="userCaptchaInput"
      name="userCaptchaInput"
      formControlName="userCaptchaInput"
    >
  </label>
                        <div nbRecaptcha key="public key" formControlName="captcha"></div> -->

                        <div class="my-4">
                                <div class="row">
                                        <div class="col-md-6">
                                                <div class="row check_item">
                                                        <div class="col-md-2 pl-0 pr-0 pt-1">
                                                                <input type="checkbox" class="check"
                                                                        style="width: 20px;"
                                                                        formControlName="rememberset">
                                                        </div>
                                                        <div class="col-md-10 pl-0 pr-0"
                                                                style="vertical-align: middle; margin-top: 3px;">
                                                                <span>Remember Me</span>

                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-md-6 mt-1">
                                                <a routerLink="/forgot">Forgot Password?</a>
                                        </div>
                                </div>
                        </div>

                        <div class="row sign_up">
                                <button [disabled]="spinner" routerLink="/main/home" class="my-4 btn btn-primary">Login</button>
                        </div>
                        <div class="pull-center">
                                <span class="pull-left">
                                        <a routerLink="/signup">New User Registration</a>
                                </span>
                        </div>
                </form>
        </p-card>
</div>my-1