<div class="full-width">
        <!-- <img class="img" src="../../../assets/logo.jpg" > -->
        <p-card class="register_card">
                <form class="example-form" [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
                        <div class="my-2">
                                <img class="img" src="../../../assets/logo_cmp.svg">
                        </div>

                        <div class="mt-5">
                                <input type="text" autocomplete="off" class="form-control" formControlName="email"
                                        placeholder="Email" />
                                        <span class="text-danger" *ngIf="forgetForm.controls['email'].hasError('required') &&
                                        (forgetForm.controls['email'].dirty || forgetForm.controls['email'].touched)">This field is required</span>
                                        <span class="text-danger" *ngIf="forgetForm.controls['email'].hasError('email') && 
                                        (forgetForm.controls['email'].dirty || forgetForm.controls['email'].touched)">Please enter valid email address</span>
        
                                </div>


                        <div class="row sign_up">
                                <button [disabled]="spinner" class="my-4 btn btn-primary"
                                        type="submit">Continue</button>
                        </div>

                        <div class="my-3 btn">
                                <span class="pull-center">
                                        <a routerLink="/login">Login</a>
                                </span>
                        </div>

                </form>
        </p-card>
</div>my-1