/* You can add global styles to this file, and also import other style files */



.custom{
    border:none!important
}

#phone{
    border: none!important;
}


.flag-container{
    position: absolute;
    top:8px;
}